# {{ ansible_managed }}

[Unit]
Description=watcher openstack service
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ system_user }}
Group={{ system_group }}

{% if program_override is defined %}
ExecStart={{ program_override }} {{ program_config_options|default('') }} --log-file=/var/log/watcher/{{ program_name }}.log
{% else %}
ExecStart={{ watcher_bin }}/{{ program_name }} {{ program_config_options|default('') }} --log-file=/var/log/watcher/{{ program_name }}.log
{% endif %}

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec={{ watcher_sigkill_timeout }}
Restart=on-failure
RestartSec={{ watcher_restart_wait }}

# This creates a specific slice which all services will operate from
#  The accounting options give us the ability to see resource usage through
#  the `systemd-cgtop` command.
Slice=watcher.slice
CPUAccounting=true
BlockIOAccounting=true
MemoryAccounting=false
TasksAccounting=true

[Install]
WantedBy=multi-user.target
